<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.ext.Common">

  <sql id="Prefix_Column_List">
  ${prefix}id as id,
  ${prefix}debt_type as debt_type,
  ${prefix}debtpack_id as debtpack_id,
  ${prefix}amc_id as amc_id,
  ${prefix}title as title,
  ${prefix}base_amount as base_amount,
  ${prefix}base_amount_desc as base_amount_desc,
  ${prefix}base_date as base_date,
  ${prefix}interest_amount as interest_amount,
  ${prefix}total_amount as total_amount,
  ${prefix}total_amount_desc as total_amount_desc,
  ${prefix}settle_date as settle_date,
  ${prefix}curt_prov as curt_prov,
  ${prefix}curt_city as curt_city,
  ${prefix}curt_county as curt_county,
  ${prefix}court_id as court_id,
  ${prefix}zcc_debt_code as zcc_debt_code,
  ${prefix}amc_debt_code as amc_debt_code,
  ${prefix}publish_state as publish_state,
  ${prefix}publish_date as publish_date,
  ${prefix}lawsuit_state as lawsuit_state,
  ${prefix}lawsuit_state_desc as lawsuit_state_desc,
  ${prefix}valuation as valuation,
  ${prefix}amc_contactor_id as amc_contactor_id,
  ${prefix}amc_contactor_name as amc_contactor_name,
  ${prefix}amc_contactor_phone as amc_contactor_phone,
  ${prefix}amc_contactor_sex as amc_contactor_sex,
  ${prefix}amc_contactor2_id as amc_contactor2_id,
  ${prefix}is_recommanded as is_recommanded,
  ${prefix}guarant_type as guarant_type,
  ${prefix}recomm_start_date as recomm_start_date,
  ${prefix}recomm_end_date as recomm_end_date,
  ${prefix}orig_creditor_id as orig_creditor_id,
  ${prefix}orig_creditor_name as orig_creditor_name,
  ${prefix}brief_desc as brief_desc,
  ${prefix}update_by as update_by,
  ${prefix}update_date as update_date,
  ${prefix}created_by as created_by,
  ${prefix}created_date as created_date,
  ${prefix}note as note,
  ${prefix}visit_count as visit_count
  </sql>
  <sql id="ASSET_Column_List">
  ${prefix}id as ${alias}id,
  ${prefix}title as ${alias}title,
  ${prefix}type as ${alias}type,
  ${prefix}sealed_state as ${alias}sealed_state,
  ${prefix}asset_nature as ${alias}asset_nature,
  ${prefix}publish_state as ${alias}publish_state,
  ${prefix}amc_id as ${alias}amc_id,
  ${prefix}amc_asset_code as ${alias}amc_asset_code,
  ${prefix}zcc_asset_code as ${alias}zcc_asset_code,
  ${prefix}total_valuation as ${alias}total_valuation,
  ${prefix}debt_id as ${alias}debt_id,
  ${prefix}building_area as ${alias}building_area,
  ${prefix}land_area as ${alias}land_area,
  ${prefix}land_area_unit as ${alias}land_area_unit,
  ${prefix}publish_date as ${alias}publish_date,
  ${prefix}province as ${alias}province,
  ${prefix}city as ${alias}city,
  ${prefix}county as ${alias}county,
  ${prefix}address as ${alias}address,
  ${prefix}building_name as ${alias}building_name,
  ${prefix}update_by as ${alias}update_by,
  ${prefix}update_date as ${alias}update_date,
  ${prefix}created_by as ${alias}created_by,
  ${prefix}created_date as ${alias}created_date,
  ${prefix}amc_contactor_id as ${alias}amc_contactor_id,
  ${prefix}amc_contactor_name as ${alias}amc_contactor_name,
  ${prefix}amc_contactor_phone as ${alias}amc_contactor_phone,
  ${prefix}amc_contactor_sex as ${alias}amc_contactor_sex,
  ${prefix}note as ${alias}note
  </sql>

  <sql id="DEBTOR_Column_List">
  ${prefix}id as ${alias}id,
  ${prefix}debt_id as ${alias}debt_id,
  ${prefix}debtor_name as ${alias}debtor_name,
  ${prefix}debtor_type as ${alias}debtor_type,
  ${prefix}role as ${alias}role,
  ${prefix}company_id as ${alias}company_id,
  ${prefix}note as ${alias}note
  </sql>
  <sql id="DEBTCONTACTOR_LIST">
    ${prefix}id as ${alias}id,
    ${prefix}branch_id as ${alias}branch_id,
    ${prefix}name as ${alias}name,
    ${prefix}family_name as ${alias}family_name,
    ${prefix}sex as ${alias}sex,
    ${prefix}title as ${alias}title,
    ${prefix}location as ${alias}location,
    ${prefix}phone_number as ${alias}phone_number,
    ${prefix}notes as ${alias}notes,
    ${prefix}wx_img_url as ${alias}wx_img_url,
    ${prefix}img_url as ${alias}img_url,
    ${prefix}sso_user_id as ${alias}sso_user_id,
    ${prefix}status as ${alias}status,
    ${prefix}update_time as ${alias}update_time,
    ${prefix}update_by as ${alias}update_by,
    ${prefix}create_time as ${alias}create_time,
    ${prefix}create_by as ${alias}create_by
  </sql>

</mapper>