<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.cust.dao.mysql.mapper.ext.CustAmcCmpycontactorExtMapper">
  <resultMap id="BaseResultMap" type="com.wensheng.zcc.cust.module.dao.mysql.ext.CustAmcCmpycontactorExt">
    <id column="id" jdbcType="BIGINT" property="id"  />
    <association property="custAmcCmpycontactor"
      resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustAmcCmpycontactorMapper.BaseResultMap"/>
    <collection property="custTrdInfoList" columnPrefix="cti_"
      resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id = "CUST_AMC_CMPYCONTACTOR">
    ${prefix}TABLE as TABLE
  </sql>

  <sql id="CUST_TRD_INFO">
    ${prefix}TABLE as ${alias}TABLE
  </sql>

  <sql id="cust_amc_cmpycontactor">
    ${prefix}id as id,
    ${prefix}name as name,
    ${prefix}phone as phone,
    ${prefix}mobile as mobile,
    ${prefix}province as province,
    ${prefix}city as city,
    ${prefix}county as county,
    ${prefix}address as address,
    ${prefix}title as title,
    ${prefix}company as company,
    ${prefix}history_cmpy as history_cmpy,
    ${prefix}favorite_city_update as favorite_city_update,
    ${prefix}favorite_type_update as favorite_type_update,
    ${prefix}cmpy_id as cmpy_id,
    ${prefix}create_by as create_by,
    ${prefix}create_time as create_time,
    ${prefix}update_by as update_by,
    ${prefix}update_time as update_time
  </sql>

  <sql id="cust_trd_info_list">
    ${prefix}id as ${alias}id,
    ${prefix}item_type as ${alias}item_type,
    ${prefix}item_sub_type as ${alias}item_sub_type,
    ${prefix}trd_type as ${alias}trd_type,
    ${prefix}info_title as ${alias}info_title,
    ${prefix}pack_count as ${alias}pack_count,
    ${prefix}info_id as ${alias}info_id,
    ${prefix}info_source as ${alias}info_source,
    ${prefix}info_url as ${alias}info_url,
    ${prefix}debt_province as ${alias}debt_province,
    ${prefix}trd_province as ${alias}trd_province,
    ${prefix}debt_city as ${alias}debt_city,
    ${prefix}trd_amount_orig as ${alias}trd_amount_orig,
    ${prefix}trd_amount as ${alias}trd_amount,
    ${prefix}total_debt_amount as ${alias}total_debt_amount,
    ${prefix}trd_status as ${alias}trd_status,
    ${prefix}trd_date as ${alias}trd_date,
    ${prefix}pub_date as ${alias}pub_date,
    ${prefix}update_time as ${alias}update_time,
    ${prefix}notes as ${alias}notes,
    ${prefix}buyer_type as ${alias}buyer_type,
    ${prefix}buyer_id as ${alias}buyer_id,
    ${prefix}seller_type as ${alias}seller_type,
    ${prefix}seller_id as ${alias}seller_id,
    ${prefix}seller_name as ${alias}seller_name,
    ${prefix}trd_contactor_name as ${alias}trd_contactor_name,
    ${prefix}trd_contactor_addr as ${alias}trd_contactor_addr,
    ${prefix}data_status as ${alias}data_status,
    ${prefix}data_quality as ${alias}data_quality
  </sql>

  <select id="selectByFilter"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.ext.CustAmcCmpycontactorExtExample"
    resultMap="BaseResultMap">
    select

    <include refid="cust_amc_cmpycontactor">
      <property name="prefix" value="cac."/>
    </include>,
    <include refid="cust_trd_info_list" >
      <property name="prefix" value="cti."/>
      <property name="alias" value="cti_"/>
    </include>
    from CUST_AMC_CMPYCONTACTOR cac
    inner join CUST_TRD_INFO cti on cti.buyer_id = cac.cmpy_id
    and cti.buyer_type = 2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    <if test = "whereClause != null">
      where ${whereClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectCmpyContactor"
          resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustAmcCmpycontactorMapper.BaseResultMap">
    select
    <include refid="cust_amc_cmpycontactor">
      <property name="prefix" value="cac."/>
    </include>
    from CUST_AMC_CMPYCONTACTOR cac
    where cac.company = #{company}
    and cac.name = #{name}
    <if test="mobileList != null">
      and (
      1=2
      <foreach item="item" index="index" collection="mobileList">
        OR cac.trd_phone LIKE CONCAT('%',#{item},'%')
        OR cac.mobile_update LIKE CONCAT('%',#{item},'%')
        OR cac.mobile_prep LIKE CONCAT('%',#{item},'%')
        OR cac.mobile_history LIKE CONCAT('%',#{item},'%')
      </foreach>
      )
    </if>
    <if test="mobileList == null">
      and (
      1=2
      <foreach item="item" index="index" collection="phoneList">
        OR cac.trd_phone LIKE CONCAT('%',#{item},'%')
        OR cac.phone_update LIKE CONCAT('%',#{item},'%')
        OR cac.phone_prep LIKE CONCAT('%',#{item},'%')
        OR cac.phone_history LIKE CONCAT('%',#{item},'%')
      </foreach>
      )
    </if>
  </select>


</mapper>