<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.cust.dao.mysql.mapper.ext.CustTrdInfoExtMapper">
<!--  <resultMap id="BaseResultMap" type="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdInfo">-->
<!--    <id column="id" jdbcType="BIGINT" property="id" />-->
<!--    <result column="item_type" jdbcType="INTEGER" property="itemType" />-->
<!--    <result column="item_sub_type" jdbcType="INTEGER" property="itemSubType" />-->
<!--    <result column="trd_type" jdbcType="INTEGER" property="trdType" />-->
<!--    <result column="info_title" jdbcType="VARCHAR" property="infoTitle" />-->
<!--    <result column="pack_count" jdbcType="INTEGER" property="packCount" />-->
<!--    <result column="info_id" jdbcType="CHAR" property="infoId" />-->
<!--    <result column="info_source" jdbcType="VARCHAR" property="infoSource" />-->
<!--    <result column="info_url" jdbcType="VARCHAR" property="infoUrl" />-->
<!--    <result column="debt_province" jdbcType="CHAR" property="debtProvince" />-->
<!--    <result column="trd_province" jdbcType="CHAR" property="trdProvince" />-->
<!--    <result column="debt_city" jdbcType="CHAR" property="debtCity" />-->
<!--    <result column="trd_amount_orig" jdbcType="CHAR" property="trdAmountOrig" />-->
<!--    <result column="trd_amount" jdbcType="BIGINT" property="trdAmount" />-->
<!--    <result column="total_debt_amount" jdbcType="BIGINT" property="totalDebtAmount" />-->
<!--    <result column="trd_status" jdbcType="INTEGER" property="trdStatus" />-->
<!--    <result column="trd_date" jdbcType="DATE" property="trdDate" />-->
<!--    <result column="pub_date" jdbcType="TIMESTAMP" property="pubDate" />-->
<!--    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
<!--    <result column="notes" jdbcType="VARCHAR" property="notes" />-->
<!--    <result column="buyer_type" jdbcType="INTEGER" property="buyerType" />-->
<!--    <result column="buyer_id" jdbcType="BIGINT" property="buyerId" />-->
<!--    <result column="seller_type" jdbcType="INTEGER" property="sellerType" />-->
<!--    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />-->
<!--    <result column="seller_name" jdbcType="CHAR" property="sellerName" />-->
<!--    <result column="trd_contactor_name" jdbcType="CHAR" property="trdContactorName" />-->
<!--    <result column="trd_contactor_addr" jdbcType="CHAR" property="trdContactorAddr" />-->
<!--    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />-->
<!--    <result column="data_quality" jdbcType="INTEGER" property="dataQuality" />-->
<!--  </resultMap>-->
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, item_type, item_sub_type, trd_type, info_title, pack_count, info_id, info_source,
    info_url, debt_province, trd_province, debt_city, trd_amount_orig, trd_amount, total_debt_amount,
    trd_status, trd_date, pub_date, update_time, notes, buyer_type, buyer_id, seller_type,
    seller_id, seller_name, trd_contactor_name, trd_contactor_addr, data_status, data_quality
  </sql>

  <sql id="All_Base_Column_List">
    id, item_type, item_sub_type, trd_type, info_title, pack_count, info_id, info_source,
    info_url, debt_province, trd_province, debt_city, trd_amount_orig, trd_amount, total_debt_amount,
    trd_status, trd_date, pub_date, notes, buyer_type, buyer_id, seller_type, seller_id,
    seller_name, trd_contactor_name, trd_contactor_addr, trd_contactor_phone, trd_contactor_tel,
    trd_contactor_mobile, trd_contactor_address, trd_cmpycontactor_id, data_status, data_quality,
    update_time, create_time, sync_time
  </sql>

  <sql id="Base_List">
    ${prefix}id as id,
    ${prefix}item_type as item_type,
    ${prefix}item_sub_type as item_sub_type,
    ${prefix}trd_type as trd_type,
    ${prefix}info_title as info_title,
    ${prefix}pack_count as pack_count,
    ${prefix}info_id as info_id,
    ${prefix}info_source as info_source,
    ${prefix}info_url as info_url,
    ${prefix}debt_province as debt_province,
    ${prefix}trd_province as trd_province,
    ${prefix}debt_city as debt_city,
    ${prefix}trd_amount_orig as trd_amount_orig,
    ${prefix}trd_amount as trd_amount,
    ${prefix}total_debt_amount as total_debt_amount,
    ${prefix}trd_status as trd_status,
    ${prefix}trd_date as trd_date,
    ${prefix}pub_date as pub_date,
    ${prefix}update_time as update_time,
    ${prefix}create_time as create_time,
    ${prefix}notes as notes,
    ${prefix}buyer_type as buyer_type,
    ${prefix}buyer_id as buyer_id,
    ${prefix}seller_type as seller_type,
    ${prefix}seller_id as seller_id,
    ${prefix}seller_name as seller_name,
    ${prefix}trd_contactor_name as trd_contactor_name,
    ${prefix}trd_contactor_addr as trd_contactor_addr,
    ${prefix}data_status as data_status,
    ${prefix}data_quality as data_quality
  </sql>

  <select id="selectByExample" parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdInfoExample"
    resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_List">
     <property name="prefix" value="cti."/>
    </include>
    from CUST_TRD_INFO as cti
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitByClause != null">
      limit ${limitByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CUST_TRD_INFO
    where id = #{id,jdbcType=BIGINT}
  </select>



  <select id="selectByExampleWithRowbounds"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdInfoExample" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CUST_TRD_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectInfoByPhoneSign" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_INFO
    where
    trd_contactor_phone LIKE CONCAT('%',#{sign},'%')
  </select>

  <select id="selectInfoByRightPhone" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_INFO
    where
    LENGTH(trd_contactor_phone) <![CDATA[<=]]> 15 AND trd_contactor_phone !=-1
  </select>

  <select id="selectInfoByUnknowPhone" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_INFO
    where
    trd_contactor_phone !=-1
    AND trd_contactor_phone not LIKE '%、%'
    AND trd_contactor_phone not LIKE '%/%'
    AND LENGTH(trd_contactor_phone) > 15
    AND trd_contactor_phone not LIKE '%，%'
    AND trd_contactor_phone not LIKE '%；%'
  </select>


</mapper>