<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.cust.dao.mysql.mapper.ext.CustTrdPersonExtMapper">
  <resultMap id="BaseResultMap" type="com.wensheng.zcc.cust.module.dao.mysql.ext.CustTrdPersonTrdExt">
    <id column="id" jdbcType="BIGINT" property="id" />
    <association property="custTrdPerson"
      resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdPersonMapper.BaseResultMap"/>
    <collection property="custTrdInfoList" columnPrefix="cti_"
      resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdInfoMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<!--  <sql id="Base_Column_List">-->
<!--    id, name, age_range, gender, mobile_num, tel_num, email, id_card_num, province, city, -->
<!--    addr, notes, create_by, create_time-->
<!--  </sql>-->
  <sql id="All_Base_Column_List">
    id, orig_id, name, age_range, gender, mobile_num, history_mobile_num, tel_num, email,
    id_card_num, province, city, addr, history_addr, notes, data_status, data_quality,
    update_time, update_by, create_by, create_time, sync_time
  </sql>

  <sql id="Base_Column_List">
    ${prefix}id as id,
    ${prefix}name as name,
    ${prefix}age_range as age_range,
    ${prefix}gender as gender,
    ${prefix}mobile_num as mobile_num,
    ${prefix}tel_num as tel_num,
    ${prefix}email as email,
    ${prefix}id_card_num as id_card_num,
    ${prefix}province as province,
    ${prefix}city as city,
    ${prefix}addr as addr,
    ${prefix}notes as notes,
    ${prefix}create_by as create_by,
    ${prefix}create_time as create_time,
    ${prefix}data_status as data_status,
        ${prefix}data_quality as data_quality

  </sql>
  <sql id="cust_trd_info_list">
    ${prefix}id as ${alias}id,
    ${prefix}item_type as ${alias}item_type,
    ${prefix}item_sub_type as ${alias}item_sub_type,
    ${prefix}trd_type as ${alias}trd_type,
    ${prefix}info_title as ${alias}info_title,
    ${prefix}pack_count as ${alias}pack_count,
    ${prefix}info_id as ${alias}info_id,
    ${prefix}info_source as ${alias}info_source,
    ${prefix}info_url as ${alias}info_url,
    ${prefix}debt_province as ${alias}debt_province,
    ${prefix}trd_province as ${alias}trd_province,
    ${prefix}debt_city as ${alias}debt_city,
    ${prefix}trd_amount_orig as ${alias}trd_amount_orig,
    ${prefix}trd_amount as ${alias}trd_amount,
    ${prefix}total_debt_amount as ${alias}total_debt_amount,
    ${prefix}trd_status as ${alias}trd_status,
    ${prefix}trd_date as ${alias}trd_date,
    ${prefix}pub_date as ${alias}pub_date,
    ${prefix}update_time as ${alias}update_time,
    ${prefix}notes as ${alias}notes,
    ${prefix}buyer_type as ${alias}buyer_type,
    ${prefix}buyer_id as ${alias}buyer_id,
    ${prefix}seller_type as ${alias}seller_type,
    ${prefix}seller_id as ${alias}seller_id,
    ${prefix}seller_name as ${alias}seller_name,
    ${prefix}trd_contactor_name as ${alias}trd_contactor_name,
    ${prefix}trd_contactor_addr as ${alias}trd_contactor_addr,
    ${prefix}data_status as ${alias}data_status,
    ${prefix}data_quality as ${alias}data_quality
  </sql>

<!--  <select id="selectByExample" parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <if test="distinct">-->
<!--      distinct-->
<!--    </if>-->
<!--    'true' as QUERYID,-->
<!--    <include refid="Base_Column_List" />-->
<!--    from CUST_TRD_PERSON-->
<!--    <if test="_parameter != null">-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->
<!--    <if test="orderByClause != null">-->
<!--      order by ${orderByClause}-->
<!--    </if>-->
<!--  </select>-->

  <select id="selectByExample" parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List">
      <property name="prefix" value="ctp."/>
    </include>,
    <include refid="cust_trd_info_list" >
      <property name="prefix" value="cti."/>
      <property name="alias" value="cti_"/>
    </include>
    from CUST_TRD_PERSON ctp
    left join CUST_TRD_INFO cti on cti.buyer_id = ctp.id
    and cti.buyer_type = 1
    <!--    <if test="_parameter != null">-->
    <!--      <include refid="Example_Where_Clause" />-->
    <!--    </if>-->
    <!--    <if test="orderByClause != null">-->
    <!--      order by ${orderByClause}-->
    <!--    </if>-->
    <if test = "whereClause != null">
      where ${whereClause}
    </if>
  </select>

  <select id="selectByPreFilter"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample"
    resultType="Long">
    select ctp.id as id
    from CUST_TRD_PERSON ctp
    inner join CUST_TRD_INFO cti on cti.buyer_id = ctp.id
    and cti.buyer_type = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    <if test="orderByClause != null">
      group by ctp.id order by ${orderByClause}
    </if>
    <if test="limitByClause != null">
      limit ${limitByClause}
    </if>
  </select>

  <select id="selectByFilter"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List">
      <property name="prefix" value="ctp."/>
    </include>,
    <include refid="cust_trd_info_list" >
      <property name="prefix" value="cti."/>
      <property name="alias" value="cti_"/>
    </include>
    from CUST_TRD_PERSON ctp
    inner join CUST_TRD_INFO cti on cti.buyer_id = ctp.id
    and cti.buyer_type = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    <if test = "whereClause != null">
      where ${whereClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="countByFilter"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample"
    resultType="java.lang.Long">
    select count(tmp.id) from(

    select ctp.id as id, count(ctp.id)
    from CUST_TRD_PERSON ctp
    inner join CUST_TRD_INFO cti on cti.buyer_id = ctp.id
    and cti.buyer_type = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    group by ctp.id
    ) as tmp
  </select>


  <select id="selectByExampleAllowNoTrd"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List">
      <property name="prefix" value="ctp."/>
    </include>,
    <include refid="cust_trd_info_list" >
      <property name="prefix" value="cti."/>
      <property name="alias" value="cti_"/>
    </include>
    from CUST_TRD_PERSON ctp
    left join CUST_TRD_INFO cti on  ctp.id = cti.buyer_id
    and cti.buyer_type = 1
    <!--    <if test="_parameter != null">-->
    <!--      <include refid="Example_Where_Clause" />-->
    <!--    </if>-->
    <!--    <if test="orderByClause != null">-->
    <!--      order by ${orderByClause}-->
    <!--    </if>-->
    <if test = "whereClause != null">
      where ${whereClause}
    </if>
  </select>

  <select id="selectByPreFilterAllowNoTrd"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample"
    resultType="Long">
    select ctp.id as id
    from CUST_TRD_PERSON ctp
    left join CUST_TRD_INFO cti on cti.buyer_id = ctp.id
    and cti.buyer_type = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    <if test="orderByClause != null">
      group by ctp.id order by ${orderByClause}
    </if>
    <if test="limitByClause != null">
      limit ${limitByClause}
    </if>
  </select>



  <select id="countByFilterAllowNoTrd"
    parameterType="com.wensheng.zcc.cust.module.dao.mysql.auto.entity.CustTrdPersonExample"
    resultType="java.lang.Long">
    select count(tmp.id) from(

    select ctp.id as id, count(ctp.id)
    from CUST_TRD_PERSON ctp
    left join CUST_TRD_INFO cti on  ctp.id = cti.buyer_id
    and cti.buyer_type = 1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="filterByClause != null">
      ${filterByClause}
    </if>
    group by ctp.id
    ) as tmp
  </select>

  <select id="selectTrdPersonByPhoneSign" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdPersonMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_PERSON
    where
    mobile_num LIKE CONCAT('%',#{sign},'%')
  </select>

  <select id="selectTrdPersonByRightPhone" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdPersonMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_PERSON
    where
    LENGTH(mobile_num) <![CDATA[<=]]> 15 AND mobile_num !=-1
  </select>

  <select id="selectTrdPersonByUnknowPhone" resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdPersonMapper.BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_PERSON
    where
    mobile_num !=-1
    AND mobile_num not LIKE '%、%'
    AND mobile_num not LIKE '%/%'
    AND LENGTH(mobile_num) > 15
    AND mobile_num not LIKE '%，%'
    AND mobile_num not LIKE '%；%'
  </select>

  <select id="selectTrePersonBymobileList"
    resultMap="com.wensheng.zcc.cust.dao.mysql.mapper.CustTrdPersonMapper.BaseResultMap">
    sselect
    'true' as QUERYID,
    <include refid="All_Base_Column_List" />
    from CUST_TRD_PERSON
    where
    and name = #{name}
    <if test="mobileList != null">
      and (
      1=2
      <foreach item="item" index="index" collection="mobileList">
        OR mobile_num LIKE CONCAT('%',#{item},'%')
      </foreach>
      )
    </if>
    order by id desc
  </select>

</mapper>