<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.AmcGrntctrctMapper">
  <resultMap id="BaseResultMap" type="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="debt_id" jdbcType="BIGINT" property="debtId" />
    <result column="origin_debt_id" jdbcType="BIGINT" property="originDebtId" />
    <result column="origin_contract_id" jdbcType="BIGINT" property="originContractId" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="notes" jdbcType="CHAR" property="notes" />
    <result column="contract_number" jdbcType="CHAR" property="contractNumber" />
    <result column="sign_date" jdbcType="TIMESTAMP" property="signDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, debt_id, origin_debt_id, origin_contract_id, amount, type, notes, contract_number, 
    sign_date
  </sql>
  <select id="selectByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrctExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AMC_GRNTCTRCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AMC_GRNTCTRCT
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from AMC_GRNTCTRCT
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrctExample">
    delete from AMC_GRNTCTRCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AMC_GRNTCTRCT (debt_id, origin_debt_id, origin_contract_id, 
      amount, type, notes, contract_number, 
      sign_date)
    values (#{debtId,jdbcType=BIGINT}, #{originDebtId,jdbcType=BIGINT}, #{originContractId,jdbcType=BIGINT}, 
      #{amount,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{notes,jdbcType=CHAR}, #{contractNumber,jdbcType=CHAR}, 
      #{signDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AMC_GRNTCTRCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="debtId != null">
        debt_id,
      </if>
      <if test="originDebtId != null">
        origin_debt_id,
      </if>
      <if test="originContractId != null">
        origin_contract_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="signDate != null">
        sign_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="debtId != null">
        #{debtId,jdbcType=BIGINT},
      </if>
      <if test="originDebtId != null">
        #{originDebtId,jdbcType=BIGINT},
      </if>
      <if test="originContractId != null">
        #{originContractId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=CHAR},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=CHAR},
      </if>
      <if test="signDate != null">
        #{signDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrctExample" resultType="java.lang.Long">
    select count(*) from AMC_GRNTCTRCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AMC_GRNTCTRCT
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.debtId != null">
        debt_id = #{record.debtId,jdbcType=BIGINT},
      </if>
      <if test="record.originDebtId != null">
        origin_debt_id = #{record.originDebtId,jdbcType=BIGINT},
      </if>
      <if test="record.originContractId != null">
        origin_contract_id = #{record.originContractId,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.notes != null">
        notes = #{record.notes,jdbcType=CHAR},
      </if>
      <if test="record.contractNumber != null">
        contract_number = #{record.contractNumber,jdbcType=CHAR},
      </if>
      <if test="record.signDate != null">
        sign_date = #{record.signDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AMC_GRNTCTRCT
    set id = #{record.id,jdbcType=BIGINT},
      debt_id = #{record.debtId,jdbcType=BIGINT},
      origin_debt_id = #{record.originDebtId,jdbcType=BIGINT},
      origin_contract_id = #{record.originContractId,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      notes = #{record.notes,jdbcType=CHAR},
      contract_number = #{record.contractNumber,jdbcType=CHAR},
      sign_date = #{record.signDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrct">
    update AMC_GRNTCTRCT
    <set>
      <if test="debtId != null">
        debt_id = #{debtId,jdbcType=BIGINT},
      </if>
      <if test="originDebtId != null">
        origin_debt_id = #{originDebtId,jdbcType=BIGINT},
      </if>
      <if test="originContractId != null">
        origin_contract_id = #{originContractId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=CHAR},
      </if>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=CHAR},
      </if>
      <if test="signDate != null">
        sign_date = #{signDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcGrntctrct">
    update AMC_GRNTCTRCT
    set debt_id = #{debtId,jdbcType=BIGINT},
      origin_debt_id = #{originDebtId,jdbcType=BIGINT},
      origin_contract_id = #{originContractId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      notes = #{notes,jdbcType=CHAR},
      contract_number = #{contractNumber,jdbcType=CHAR},
      sign_date = #{signDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>