<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.AmcSaleFloorMapper">
  <resultMap id="BaseResultMap" type="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <result column="floor_seq" jdbcType="INTEGER" property="floorSeq" />
    <result column="css" jdbcType="INTEGER" property="css" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="slogon" jdbcType="VARCHAR" property="slogon" />
    <result column="floor_start_time" jdbcType="TIMESTAMP" property="floorStartTime" />
    <result column="floor_end_time" jdbcType="TIMESTAMP" property="floorEndTime" />
    <result column="filter_content" jdbcType="VARCHAR" property="filterContent" />
    <result column="recom_items" jdbcType="VARCHAR" property="recomItems" />
    <result column="publish_state" jdbcType="INTEGER" property="publishState" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, floor, floor_seq, css, title, slogon, floor_start_time, floor_end_time, filter_content, 
    recom_items, publish_state, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from AMC_SALE_FLOOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from AMC_SALE_FLOOR
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from AMC_SALE_FLOOR
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloorExample">
    delete from AMC_SALE_FLOOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AMC_SALE_FLOOR (floor, floor_seq, css, 
      title, slogon, floor_start_time, 
      floor_end_time, filter_content, recom_items, 
      publish_state, create_by, create_time, 
      update_by, update_time)
    values (#{floor,jdbcType=INTEGER}, #{floorSeq,jdbcType=INTEGER}, #{css,jdbcType=INTEGER}, 
      #{title,jdbcType=CHAR}, #{slogon,jdbcType=VARCHAR}, #{floorStartTime,jdbcType=TIMESTAMP}, 
      #{floorEndTime,jdbcType=TIMESTAMP}, #{filterContent,jdbcType=VARCHAR}, #{recomItems,jdbcType=VARCHAR}, 
      #{publishState,jdbcType=INTEGER}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AMC_SALE_FLOOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="floor != null">
        floor,
      </if>
      <if test="floorSeq != null">
        floor_seq,
      </if>
      <if test="css != null">
        css,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="slogon != null">
        slogon,
      </if>
      <if test="floorStartTime != null">
        floor_start_time,
      </if>
      <if test="floorEndTime != null">
        floor_end_time,
      </if>
      <if test="filterContent != null">
        filter_content,
      </if>
      <if test="recomItems != null">
        recom_items,
      </if>
      <if test="publishState != null">
        publish_state,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="floor != null">
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="floorSeq != null">
        #{floorSeq,jdbcType=INTEGER},
      </if>
      <if test="css != null">
        #{css,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="slogon != null">
        #{slogon,jdbcType=VARCHAR},
      </if>
      <if test="floorStartTime != null">
        #{floorStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="floorEndTime != null">
        #{floorEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filterContent != null">
        #{filterContent,jdbcType=VARCHAR},
      </if>
      <if test="recomItems != null">
        #{recomItems,jdbcType=VARCHAR},
      </if>
      <if test="publishState != null">
        #{publishState,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloorExample" resultType="java.lang.Long">
    select count(*) from AMC_SALE_FLOOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AMC_SALE_FLOOR
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.floor != null">
        floor = #{record.floor,jdbcType=INTEGER},
      </if>
      <if test="record.floorSeq != null">
        floor_seq = #{record.floorSeq,jdbcType=INTEGER},
      </if>
      <if test="record.css != null">
        css = #{record.css,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=CHAR},
      </if>
      <if test="record.slogon != null">
        slogon = #{record.slogon,jdbcType=VARCHAR},
      </if>
      <if test="record.floorStartTime != null">
        floor_start_time = #{record.floorStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.floorEndTime != null">
        floor_end_time = #{record.floorEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.filterContent != null">
        filter_content = #{record.filterContent,jdbcType=VARCHAR},
      </if>
      <if test="record.recomItems != null">
        recom_items = #{record.recomItems,jdbcType=VARCHAR},
      </if>
      <if test="record.publishState != null">
        publish_state = #{record.publishState,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AMC_SALE_FLOOR
    set id = #{record.id,jdbcType=BIGINT},
      floor = #{record.floor,jdbcType=INTEGER},
      floor_seq = #{record.floorSeq,jdbcType=INTEGER},
      css = #{record.css,jdbcType=INTEGER},
      title = #{record.title,jdbcType=CHAR},
      slogon = #{record.slogon,jdbcType=VARCHAR},
      floor_start_time = #{record.floorStartTime,jdbcType=TIMESTAMP},
      floor_end_time = #{record.floorEndTime,jdbcType=TIMESTAMP},
      filter_content = #{record.filterContent,jdbcType=VARCHAR},
      recom_items = #{record.recomItems,jdbcType=VARCHAR},
      publish_state = #{record.publishState,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloor">
    update AMC_SALE_FLOOR
    <set>
      <if test="floor != null">
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="floorSeq != null">
        floor_seq = #{floorSeq,jdbcType=INTEGER},
      </if>
      <if test="css != null">
        css = #{css,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="slogon != null">
        slogon = #{slogon,jdbcType=VARCHAR},
      </if>
      <if test="floorStartTime != null">
        floor_start_time = #{floorStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="floorEndTime != null">
        floor_end_time = #{floorEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filterContent != null">
        filter_content = #{filterContent,jdbcType=VARCHAR},
      </if>
      <if test="recomItems != null">
        recom_items = #{recomItems,jdbcType=VARCHAR},
      </if>
      <if test="publishState != null">
        publish_state = #{publishState,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloor">
    update AMC_SALE_FLOOR
    set floor = #{floor,jdbcType=INTEGER},
      floor_seq = #{floorSeq,jdbcType=INTEGER},
      css = #{css,jdbcType=INTEGER},
      title = #{title,jdbcType=CHAR},
      slogon = #{slogon,jdbcType=VARCHAR},
      floor_start_time = #{floorStartTime,jdbcType=TIMESTAMP},
      floor_end_time = #{floorEndTime,jdbcType=TIMESTAMP},
      filter_content = #{filterContent,jdbcType=VARCHAR},
      recom_items = #{recomItems,jdbcType=VARCHAR},
      publish_state = #{publishState,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcSaleFloorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from AMC_SALE_FLOOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>