<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.CurtInfoMapper">
  <resultMap id="BaseResultMap" type="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="curt_name" jdbcType="CHAR" property="curtName" />
    <result column="curt_province" jdbcType="CHAR" property="curtProvince" />
    <result column="curt_city" jdbcType="CHAR" property="curtCity" />
    <result column="curt_county" jdbcType="CHAR" property="curtCounty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, curt_name, curt_province, curt_city, curt_county
  </sql>
  <select id="selectByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CURT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CURT_INFO
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CURT_INFO
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfoExample">
    delete from CURT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into CURT_INFO (curt_name, curt_province, curt_city, 
      curt_county)
    values (#{curtName,jdbcType=CHAR}, #{curtProvince,jdbcType=CHAR}, #{curtCity,jdbcType=CHAR}, 
      #{curtCounty,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into CURT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="curtName != null">
        curt_name,
      </if>
      <if test="curtProvince != null">
        curt_province,
      </if>
      <if test="curtCity != null">
        curt_city,
      </if>
      <if test="curtCounty != null">
        curt_county,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="curtName != null">
        #{curtName,jdbcType=CHAR},
      </if>
      <if test="curtProvince != null">
        #{curtProvince,jdbcType=CHAR},
      </if>
      <if test="curtCity != null">
        #{curtCity,jdbcType=CHAR},
      </if>
      <if test="curtCounty != null">
        #{curtCounty,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfoExample" resultType="java.lang.Long">
    select count(*) from CURT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CURT_INFO
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.curtName != null">
        curt_name = #{record.curtName,jdbcType=CHAR},
      </if>
      <if test="record.curtProvince != null">
        curt_province = #{record.curtProvince,jdbcType=CHAR},
      </if>
      <if test="record.curtCity != null">
        curt_city = #{record.curtCity,jdbcType=CHAR},
      </if>
      <if test="record.curtCounty != null">
        curt_county = #{record.curtCounty,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CURT_INFO
    set id = #{record.id,jdbcType=BIGINT},
      curt_name = #{record.curtName,jdbcType=CHAR},
      curt_province = #{record.curtProvince,jdbcType=CHAR},
      curt_city = #{record.curtCity,jdbcType=CHAR},
      curt_county = #{record.curtCounty,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfo">
    update CURT_INFO
    <set>
      <if test="curtName != null">
        curt_name = #{curtName,jdbcType=CHAR},
      </if>
      <if test="curtProvince != null">
        curt_province = #{curtProvince,jdbcType=CHAR},
      </if>
      <if test="curtCity != null">
        curt_city = #{curtCity,jdbcType=CHAR},
      </if>
      <if test="curtCounty != null">
        curt_county = #{curtCounty,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfo">
    update CURT_INFO
    set curt_name = #{curtName,jdbcType=CHAR},
      curt_province = #{curtProvince,jdbcType=CHAR},
      curt_city = #{curtCity,jdbcType=CHAR},
      curt_county = #{curtCounty,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.CurtInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CURT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>