<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.ext.AmcDebtExtMapper">
  <!--< namespace="com.wensheng.zcc.amc.dao.mysql.mapper.AmcDebtMapper"/>-->
  <resultMap id="BaseResultMapExt" type="com.wensheng.zcc.amc.module.dao.mysql.auto.ext.AmcDebtExt">
    <!--<id column="id" jdbcType="BIGINT" property="id" />-->
    <!--<result column="debtpack_id" jdbcType="BIGINT" property="debtpackId" />-->
    <!--<result column="amc_id" jdbcType="BIGINT" property="amcId" />-->
    <!--<result column="title" jdbcType="CHAR" property="title" />-->
    <!--<result column="base_amount" jdbcType="BIGINT" property="baseAmount" />-->
    <!--<result column="base_amount_desc" jdbcType="VARCHAR" property="baseAmountDesc" />-->
    <!--<result column="base_date" jdbcType="TIMESTAMP" property="baseDate" />-->
    <!--<result column="total_amount" jdbcType="BIGINT" property="totalAmount" />-->
    <!--<result column="total_amount_desc" jdbcType="VARCHAR" property="totalAmountDesc" />-->
    <!--<result column="settle_date" jdbcType="TIMESTAMP" property="settleDate" />-->
    <!--<result column="court_id" jdbcType="BIGINT" property="courtId" />-->
    <!--<result column="amc_debt_code" jdbcType="VARCHAR" property="amcDebtCode" />-->
    <!--<result column="edit_status" jdbcType="INTEGER" property="editStatus" />-->
    <!--<result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />-->
    <!--<result column="law_status" jdbcType="INTEGER" property="lawStatus" />-->
    <!--<result column="estimated_price" jdbcType="BIGINT" property="estimatedPrice" />-->
    <!--<result column="amc_contact1" jdbcType="BIGINT" property="amcContact1" />-->
    <!--<result column="amc_contact2" jdbcType="BIGINT" property="amcContact2" />-->
    <!--<result column="is_recommanded" jdbcType="INTEGER" property="isRecommanded" />-->
    <!--<result column="start_date" jdbcType="TIMESTAMP" property="startDate" />-->
    <!--<result column="end_date" jdbcType="TIMESTAMP" property="endDate" />-->
    <!--<result column="orig_debt_id" jdbcType="BIGINT" property="origDebtId" />-->
    <association property="debtInfo" resultMap="com.wensheng.zcc.amc.dao.mysql.mapper.AmcDebtMapper.BaseResultMap"/>
    <collection property="amcAssets" javaType="ArrayList" ofType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcAsset"
      resultMap="com.wensheng.zcc.amc.dao.mysql.mapper.AmcAssetMapper.BaseResultMap" columnPrefix="aa_">
      <id property="debtId" column="debtId"/>

    </collection>


  </resultMap>
  <!--<select id="selectAsset">-->
    <!--SELECT  aa.id FROM AMC_ASSET aa WHERE aa.debtId = # {id}-->
  <!--</select>-->
  <sql id="Prefix_Column_List">
  ${prefix}id as id,
  ${prefix}debtpack_id as debtpack_id,
  ${prefix}amc_id as amc_id,
  ${prefix}title as title,
  ${prefix}base_amount as base_amount,
  ${prefix}base_amount_desc as base_amount_desc,
  ${prefix}base_date as base_date,
  ${prefix}total_amount as total_amount,
  ${prefix}total_amount_desc as total_amount_desc,
  ${prefix}settle_date as settle_date,
  ${prefix}court_id as court_id,
  ${prefix}amc_debt_code as amc_debt_code,
  ${prefix}edit_status as edit_status,
  ${prefix}publish_date as publish_date,
  ${prefix}law_status as law_status,
  ${prefix}estimated_price as estimated_price,
  ${prefix}amc_contact1 as amc_contact1,
  ${prefix}amc_contact2 as amc_contact2,
  ${prefix}is_recommanded as is_recommanded,
  ${prefix}start_date as start_date,
  ${prefix}end_date as end_date,
  ${prefix}orig_debt_id as orig_debt_id
  </sql>
  <sql id="ASSET_Column_List">
  ${prefix}id as ${alias}id,
  ${prefix}title as ${alias}title,
  ${prefix}type as ${alias}type,
  ${prefix}status as ${alias}status,
  ${prefix}state as ${alias}state,
  ${prefix}edit_status as ${alias}edit_status,
  ${prefix}amc_id as ${alias}amc_id,
  ${prefix}amc_asset_code as ${alias}amc_asset_code,
  ${prefix}zcc_asset_code as ${alias}zcc_asset_code,
  ${prefix}is_main_asset as ${alias}is_main_asset,
  ${prefix}estm_price as ${alias}estm_price,
  ${prefix}debt_id as ${alias}debt_id,
  ${prefix}init_price as ${alias}init_price,
  ${prefix}restrictions as ${alias}restrictions,
  ${prefix}area as ${alias}area,
  ${prefix}land_area as ${alias}land_area,
  ${prefix}publish_date as ${alias}publish_date,
  ${prefix}province as ${alias}province,
  ${prefix}city as ${alias}city,
  ${prefix}county as ${alias}county,
  ${prefix}street as ${alias}street,
  ${prefix}building_name as ${alias}building_name,
  ${prefix}gps_lng as ${alias}gps_lng,
  ${prefix}gps_lat as ${alias}gps_lat,
  ${prefix}origin_debt_id as ${alias}origin_debt_id,
  ${prefix}create_by as ${alias}create_by,
  ${prefix}amc_conactor as ${alias}amc_conactor
  </sql>
  <select id="selectByExampleWithRowboundsExt"
    parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcDebtExample" resultMap="BaseResultMapExt">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Prefix_Column_List"><property name="prefix" value="ad."></property></include>,
    <include
      refid="ASSET_Column_List"><property name="prefix" value="aa."></property><property name="alias"
      value="aa_"></property></include>
    from AMC_DEBT ad  left join AMC_ASSET aa
    on aa.debt_id = ad.id
    <if test="_parameter != null">
      <include refid="com.wensheng.zcc.amc.dao.mysql.mapper.AmcDebtMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>