<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wensheng.zcc.amc.dao.mysql.mapper.ext.AmcAssetExtMapper">


  <select id="selectAllTitlesByExample"
    parameterType="com.wensheng.zcc.amc.module.dao.mysql.auto.entity.AmcAssetExample"
    resultMap="com.wensheng.zcc.amc.dao.mysql.mapper.AmcAssetMapper.BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    id, title
    from AMC_ASSET
    <if test="_parameter != null">
      <include refid="com.wensheng.zcc.amc.dao.mysql.mapper.AmcAssetMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

</mapper>